<div class="container">

<h2 id="h2-contact">Contacto</h2>

<div id="img-container">
	<button id="lanzar-popup"><img class="img-contact" src="../../../assets/img/mail.png"/></button>
	<div id="popup">
		<h4 id="copy-text">elias.piscitelli@gmail.com
				<button id="copy-button"  data-clipboard-target="#copy-text" ><img class="img-contact" src="../../../assets/img/copy-button.png" alt=" "/></button>
		</h4>

	</div>
</div>

<div id="img-container">
	<button id="boton2"><img class="img-contact" src="../../../assets/img/phone.png"/></button>
	<div id="popup2">
		<h4 id="copy-text2">+54 - 11 - 3302 - 7458
				<button id="copy-button2"  data-clipboard-target="#copy-text2" ><img class="img-contact" src="../../../assets/img/copy-button.png" alt=" "/></button>
		</h4>

	</div>
</div>

<div id="img-container">
	<button id="boton3"><img class="img-contact" src="../../../assets/img/dni.png"/></button>
	<div id="popup3">
		<h4 id="copy-text3">39 . 628 . 997
				<button id="copy-button3"  data-clipboard-target="#copy-text3" ><img class="img-contact" src="../../../assets/img/copy-button.png" alt=" "/></button>
		</h4>

	</div>
</div>

<div id="img-container">
	<button id="boton4"><img class="img-contact" src="../../../assets/img/location.png"/></button>
	<div id="popup4">
		<h4 id="copy-text4"><a href="https://goo.gl/maps/aGQdobzgPdBgtEZF7">Villa Madero, Buenos Aires</a>
				<button id="copy-button4"  data-clipboard-target="#copy-text4" ><img class="img-contact" src="../../../assets/img/copy-button.png" alt=" "/></button>
		</h4>

	</div>
</div>

<div id="img-container">
	<button id="boton5"><img class="img-contact" src="../../../assets/img/time.png"/></button>
	<div id="popup5">
		<h4 id="copy-text4">Full Time</h4>

	</div>
</div>
<!--
<div>
	<img src="../../../assets/img/phone.png">
</div>

<div>
	<img src="../../../assets/img/dni.png">
</div>

<div>
	<img src="../../../assets/img/location.png">
</div>

<div>
	<img src="../../../assets/img/time.png">
</div>
-->
<!--
Tamaño del slider:
<input type="number" [(ngModel)]="widthSlider"/>
<button (click)="cargarSlider()">Cargar slider</button>
<button (click)="resetearSlider()">Resetear slider</button>

<div *ngIf="anchuraToSlider">
	<slider [anchura]="anchuraToSlider"
			[etiquetas]="captions"
			(conseguirAutor)="getAutor($event)"
	></slider>
</div>

{{autor.nombre + " " + autor.website}}
-->

</div>