<div id="title">
	<img id="img-profile" src="../../../assets/img/Final14-7.png"/>
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>

</div>

<article class="about">
	<h2>Sobre Mi</h2>

<!-- Izquierda -->
<div class="data-cv">
	<h3 id="titulo">Educación</h3>
	<h3>Secundario</h3>
	<li>“Instituto Ntra. Sra. De Lourdes”. Ciudad Madero - Analítico en mano</li>
	<h3>Capacitaciónes</h3>
	<p>
		<li>Desarrollo Web Full Stack</li>
		<li>Armado y reparación de PC</li>
		<li>Redes</li>
	</p>
</div>



<!-- Derecha -->
<div id="data-cv2">
	<h3 class="idioma">Idioma</h3>
	<h3>Inglés
		<div id="progressbar">
     		<div></div>
		</div>
	</h3>
</div>
<div id="data-cv2" class="herramientas">
	<h3 class="assetsh3">Herramientas</h3>
		<li>Photoshop</li>
		<li>Illustrator</li>
		<li>Office (Word, Excel y Power Point)</li>
		<li>Sony Vegas (Video Edit)</li>
</div>


<div class="data-cv">
	<h3 class="habilidades">Habilidades</h3>
		<li>Edición Web</li>
		<li>Diseño</li>
		<li>Redes Sociales</li>
		<li>Publicidad</li>
</div>

<div id="data-cv2">
	<h3 class="intereses">Intereses</h3>
		<li>Programar</li>
		<li>Editar Contenido Multimedial</li>
		<li>Informatica</li>
		<li>Aprendizaje autodidacta</li>
</div>


<div style="clear: both"></div>
</article>